sonar.projectKey=
sonar.projectName=
sonar.projectVersion=
sonar.host.url=
sonar.sources=
sonar.language=
sonar.sourceEncoding=
sonar.login=
sonar.password=
sonar.php.coverage.reportPaths=
sonar.php.tests.reportPath=
sonar.exclusions=
